<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.slsale.dao.menu.FunctionMapper">
    <!--sql片段-->
    <sql id="sqlFunction">
        SELECT id,functionCode,functionName,funcUrl,parentId,creationTime FROM au_function
    </sql>
    <!--根据角色id获取一级菜单-->
    <select id="getFirstFunctionList" parameterType="Authority" resultType="Function">
      <include refid="sqlFunction" />
        WHERE id IN(SELECT functionId FROM au_authority WHERE parentId=0 AND roleId=#{roleId})
    </select>
    <!--根据父id与角色id获取二级菜单-->
    <select id="getTwoFunctionList" parameterType="Function" resultType="Function">
        <include refid="sqlFunction"/>
        WHERE parentId=#{id} AND  id IN(SELECT functionId FROM au_authority WHERE roleId=#{roleId})
    </select>
</mapper>